<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1C3ghhJmykGWX_OG3u7DxfGgxvmlhuc">
  </script>

  <%= yield %>


</body>
</html>
